In [11]:
import pandas as pd
import sqlite3

# Olympic Sports and Medals (ETL): Extract

In [12]:
summer = pd.read_csv("../Data/02_summer.csv")
summer['Season'] = 'Summer'
print(summer.shape)
summer.head()

(31165, 10)

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal,Season
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold,Summer
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver,Summer
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze,Summer
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold,Summer
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver,Summer

In [13]:
winter = pd.read_csv("../Data/02_winter.csv")
winter['Season'] = 'Winter'
print(winter.shape)
winter.head()

(5770, 10)

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal,Season
0,1924,Chamonix,Biathlon,Biathlon,"BERTHET, G.",FRA,Men,Military Patrol,Bronze,Winter
1,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, C.",FRA,Men,Military Patrol,Bronze,Winter
2,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, Maurice",FRA,Men,Military Patrol,Bronze,Winter
3,1924,Chamonix,Biathlon,Biathlon,"VANDELLE, André",FRA,Men,Military Patrol,Bronze,Winter
4,1924,Chamonix,Biathlon,Biathlon,"AUFDENBLATTEN, Adolf",SUI,Men,Military Patrol,Gold,Winter

In [14]:
winners = pd.concat([summer, winter])
print(winners.shape)
winners.head()

(36935, 10)

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal,Season
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold,Summer
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver,Summer
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze,Summer
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold,Summer
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver,Summer

In [15]:
hosts = pd.read_csv("../Data/02_host_cities.csv")
print(hosts.shape)
hosts.head()

(43, 2)

        City Host
0     Athens  GRE
1      Paris  FRA
2   St Louis  USA
3     London  GBR
4  Stockholm  SWE

# Olympic Sports and Medals (ETL): Transform

In [16]:
winners = pd.merge(winners, hosts, how='left', left_on=['City'], right_on = ['City'])
winners['Host_Win'] = (winners['Country'] == winners['Host'])
winners

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal,Season,Host,Host_Win
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold,Summer,GRE,False
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver,Summer,GRE,False
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze,Summer,GRE,True
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold,Summer,GRE,True
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver,Summer,GRE,True
5,1896,Athens,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,1200M Freestyle,Bronze,Summer,GRE,True
6,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,1200M Freestyle,Gold,Summer,GRE,False
7,1896,Athens,Aquatics,Swimming,"ANDREOU, Joannis",GRE,Men,1200M Freestyle,Silver,Summer,GRE,True
8,1896,Athens,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,400M Freestyle,Bronze,Summer,GRE,True
9,1896,Athens,Aquatics,Swimming,"NEUMANN, Paul",AUT,Men,400M Freestyle,Gold,Summer,GRE,False
10,1896,Athens,Aquatics,Swimming,"PEPANOS, Antonios",GRE,Men,400M Freestyle,Silver,Summer,GRE,True
11,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100M,Bronze,Summer,GRE,False
12,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100M,Bronze,Summer,GRE,False
13,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100M,Gold,Summer,GRE,False
14,1896,Athens,Athletics,Athletics,"HOFMANN, Fritz",GER,Men,100M,Silver,Summer,GRE,False
15,1896,Athens,Athletics,Athletics,"CURTIS, Thomas",USA,Men,110M Hurdles,Gold,Summer,GRE,False
16,1896,Athens,Athletics,Athletics,"GOULDING, Grantley",GBR,Men,110M Hurdles,Silver,Summer,GRE,False
17,1896,Athens,Athletics,Athletics,"LERMUSIAUX, Albin",FRA,Men,1500M,Bronze,Summer,GRE,False
18,1896,Athens,Athletics,Athletics,"FLACK, Edwin",AUS,Men,1500M,Gold,Summer,GRE,False
19,1896,Athens,Athletics,Athletics,"BLAKE, Arthur",USA,Men,1500M,Silver,Summer,GRE,False
20,1896,Athens,Athletics,Athletics,"GMELIN, Charles",GBR,Men,400M,Bronze,Summer,GRE,False
21,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,400M,Gold,Summer,GRE,False
22,1896,Athens,Athletics,Athletics,"JAMISON, Herbert",USA,Men,400M,Silver,Summer,GRE,False
23,1896,Athens,Athletics,Athletics,"GOLEMIS, Dimitrios",GRE,Men,800M,Bronze,Summer,GRE,True
24,1896,Athens,Athletics,Athletics,"FLACK, Edwin",AUS,Men,800M,Gold,Summer,GRE,False
25,1896,Athens,Athletics,Athletics,"DANI, Nandor",HUN,Men,800M,Silver,Summer,GRE,False
26,1896,Athens,Athletics,Athletics,"VERSIS, Sotirios",GRE,Men,Discus Throw,Bronze,Summer,GRE,True
27,1896,Athens,Athletics,Athletics,"GARRETT, Robert",USA,Men,Discus Throw,Gold,Summer,GRE,False
28,1896,Athens,Athletics,Athletics,"PARASKEVOPOULOS, Panagiotis",GRE,Men,Discus Throw,Silver,Summer,GRE,True
29,1896,Athens,Athletics,Athletics,"CLARK, Ellery",USA,Men,High Jump,Gold,Summer,GRE,False
...,...,...,...,...,...,...,...,...,...,...,...,...
37790,2014,Sochi,Skiing,Snowboard,"WILD, Vic",RUS,Men,Giant Parall.S.,Gold,Winter,RUS,True
37791,2014,Sochi,Skiing,Snowboard,"KOSIR, Zan",SLO,Men,Giant Parall.S.,Bronze,Winter,RUS,False
37792,2014,Sochi,Skiing,Snowboard,"GALMARINI, Nevin",SUI,Men,Giant Parall.S.,Silver,Winter,RUS,False
37793,2014,Sochi,Skiing,Snowboard,"HIRANO, Ayumu",JPN,Men,Half-Pipe,Silver,Winter,RUS,False
37794,2014,Sochi,Skiing,Snowboard,"HIRAOKA, Taku",JPN,Men,Half-Pipe,Bronze,Winter,RUS,False
37795,2014,Sochi,Skiing,Snowboard,"PODLADTCHIKOV, Iouri",SUI,Men,Half-Pipe,Gold,Winter,RUS,False
37796,2014,Sochi,Skiing,Snowboard,"KARL, Benjamin",AUT,Men,Parallel Slalom,Bronze,Winter,RUS,False
37797,2014,Sochi,Skiing,Snowboard,"WILD, Vic",RUS,Men,Parallel Slalom,Gold,Winter,RUS,True
37798,2014,Sochi,Skiing,Snowboard,"KOSIR, Zan",SLO,Men,Parallel Slalom,Silver,Winter,RUS,False
37799,2014,Sochi,Skiing,Snowboard,"MCMORRIS, Mark",CAN,Men,Slopestyle,Bronze,Winter,RUS,False
37800,2014,Sochi,Skiing,Snowboard,"SANDBECH, Staale",NOR,Men,Slopestyle,Silver,Winter,RUS,False
37801,2014,Sochi,Skiing,Snowboard,"KOTSENBURG, Sage",USA,Men,Slopestyle,Gold,Winter,RUS,False
37802,2014,Sochi,Skiing,Snowboard,"VAULTIER, Pierre",FRA,Men,Snowboard Cross,Gold,Winter,RUS,False
37803,2014,Sochi,Skiing,Snowboard,"OLYUNIN, Nikolay",RUS,Men,Snowboard Cross,Silver,Winter,RUS,True
37804,2014,Sochi,Skiing,Snowboard,"DEIBOLD, Alex",USA,Men,Snowboard Cross,Bronze,Winter,RUS,False
37805,2014,Sochi,Skiing,Snowboard,"TAKEUCHI, Tomoka",JPN,Women,Giant Parall.S.,Silver,Winter,RUS,False
37806,2014,Sochi,Skiing,Snowboard,"ZAVARZINA, Alena",RUS,Women,Giant Parall.S.,Bronze,Winter,RUS,True
37807,2014,Sochi,Skiing,Snowboard,"KUMMER, Patrizia",SUI,Women,Giant Parall.S.,Gold,Winter,RUS,False
37808,2014,Sochi,Skiing,Snowboard,"BRIGHT, Torah",AUS,Women,Half-Pipe,Silver,Winter,RUS,False
37809,2014,Sochi,Skiing,Snowboard,"CLARK, Kelly",USA,Women,Half-Pipe,Bronze,Winter,RUS,False
37810,2014,Sochi,Skiing,Snowboard,"FARRINGTON, Kaitlyn",USA,Women,Half-Pipe,Gold,Winter,RUS,False
37811,2014,Sochi,Skiing,Snowboard,"DUJMOVITS, Julia",AUT,Women,Parallel Slalom,Gold,Winter,RUS,False
37812,2014,Sochi,Skiing,Snowboard,"KARSTENS, Anke",GER,Women,Parallel Slalom,Silver,Winter,RUS,False
37813,2014,Sochi,Skiing,Snowboard,"KOBER, Amelie",GER,Women,Parallel Slalom,Bronze,Winter,RUS,False
37814,2014,Sochi,Skiing,Snowboard,"RUKAJARVI, Enni",FIN,Women,Slopestyle,Silver,Winter,RUS,False
37815,2014,Sochi,Skiing,Snowboard,"JONES, Jenny",GBR,Women,Slopestyle,Bronze,Winter,RUS,False
37816,2014,Sochi,Skiing,Snowboard,"ANDERSON, Jamie",USA,Women,Slopestyle,Gold,Winter,RUS,False
37817,2014,Sochi,Skiing,Snowboard,"MALTAIS, Dominique",CAN,Women,Snowboard Cross,Silver,Winter,RUS,False
37818,2014,Sochi,Skiing,Snowboard,"SAMKOVA, Eva",CZE,Women,Snowboard Cross,Gold,Winter,RUS,False
37819,2014,Sochi,Skiing,Snowboard,"TRESPEUCH, Chloe",FRA,Women,Snowboard Cross,Bronze,Winter,RUS,False

In [17]:
#drop extraneous athlete and event columns
winners = winners.drop(['City',
                        'Sport',
                        'Discipline',
                        'Athlete',
                        'Gender',
                        'Event'], axis=1)
print(winners.shape)
winners.head()

(37820, 6)

   Year Country   Medal  Season Host  Host_Win
0  1896     HUN    Gold  Summer  GRE     False
1  1896     AUT  Silver  Summer  GRE     False
2  1896     GRE  Bronze  Summer  GRE      True
3  1896     GRE    Gold  Summer  GRE      True
4  1896     GRE  Silver  Summer  GRE      True

In [18]:
#create clean medals table for combination of years and competing countries
medals = pd.DataFrame()

years = winners['Year'].unique().tolist()
years.sort()

NOCs = winners['Country'].dropna().unique().tolist()
NOCs.sort()

for year in years:
    for NOC in NOCs:
        medals = medals.append({'Year': year, 'NOC': NOC}, ignore_index=True)
    
medals['Year'] = medals['Year'].astype(int)
print(medals.shape)
medals.head()

(4884, 2)

   NOC  Year
0  AFG  1896
1  AHO  1896
2  ALG  1896
3  ANZ  1896
4  ARG  1896

In [21]:
#count total medals by year and country and merge into medals table
totals = winners.groupby(['Year', 'Country']).count()
totals = totals.drop(['Season','Host','Host_Win'],axis=1)
totals.rename(columns={'Medal': 'Total_Medals'}, inplace=True)

medals = pd.merge(medals, totals,  how='left', left_on=['Year','NOC'], right_on = ['Year','Country'])
medals = medals.dropna()
print(medals.shape)
medals.head()

(1323, 3)

    NOC  Year  Total_Medals
6   AUS  1896           2.0
7   AUT  1896           5.0
32  DEN  1896           6.0
44  FRA  1896          11.0
47  GBR  1896           7.0

In [23]:
#count gold medals by year and country and merge into medals table
golds = winners[winners.Medal == 'Gold']
golds = golds.drop(['Season','Host','Host_Win'],axis=1)
golds = golds.groupby(['Year', 'Country']).count()
golds.rename(columns={'Medal': 'Golds'}, inplace=True)

medals = pd.merge(medals, golds,  how='left', left_on=['Year','NOC'], right_on = ['Year','Country'])
medals.head()

   NOC  Year  Total_Medals  Golds
0  AUS  1896           2.0    2.0
1  AUT  1896           5.0    2.0
2  DEN  1896           6.0    1.0
3  FRA  1896          11.0    5.0
4  GBR  1896           7.0    2.0

In [24]:
#count silver medals by year and country and merge into medals table
silvers = winners[winners.Medal == 'Silver']
silvers = silvers.drop(['Season','Host','Host_Win'],axis=1)
silvers = silvers.groupby(['Year', 'Country']).count()
silvers.rename(columns={'Medal': 'Silvers'}, inplace=True)

medals = pd.merge(medals, silvers,  how='left', left_on=['Year','NOC'], right_on = ['Year','Country'])
medals.head()

   NOC  Year  Total_Medals  Golds  Silvers
0  AUS  1896           2.0    2.0      NaN
1  AUT  1896           5.0    2.0      1.0
2  DEN  1896           6.0    1.0      2.0
3  FRA  1896          11.0    5.0      4.0
4  GBR  1896           7.0    2.0      3.0

In [25]:
#count bronze medals by year and country and merge into medals table
bronzes = winners[winners.Medal == 'Bronze']
bronzes = bronzes.drop(['Season','Host','Host_Win'],axis=1)
bronzes = bronzes.groupby(['Year', 'Country']).count()
bronzes.rename(columns={'Medal': 'Bronzes'}, inplace=True)

medals = pd.merge(medals, bronzes,  how='left', left_on=['Year','NOC'], right_on = ['Year','Country'])
medals.tail()

      NOC  Year  Total_Medals  Golds  Silvers  Bronzes
1318  SUI  2014          32.0    6.0      4.0     22.0
1319  SVK  2014           1.0    1.0      NaN      NaN
1320  SWE  2014          55.0    8.0     35.0     12.0
1321  UKR  2014           5.0    4.0      NaN      1.0
1322  USA  2014          65.0   10.0     31.0     24.0

In [26]:
#fill rows from medals table with zero values
medals = medals.fillna(0)

medals['Total_Medals'] = medals['Total_Medals'].astype(int)
medals['Golds'] = medals['Golds'].astype(int)
medals['Silvers'] = medals['Silvers'].astype(int)
medals['Bronzes'] = medals['Bronzes'].astype(int)

print(medals.shape)
medals.head()

(1323, 6)

   NOC  Year  Total_Medals  Golds  Silvers  Bronzes
0  AUS  1896             2      2        0        0
1  AUT  1896             5      2        1        2
2  DEN  1896             6      1        2        3
3  FRA  1896            11      5        4        2
4  GBR  1896             7      2        3        2

In [27]:
#count total medals by year
total_annual_medals = medals.groupby(['Year']).sum()
total_annual_medals.rename(columns={'Total_Medals': 'Total_Annual_Medals'}, inplace=True)
total_annual_medals

      Total_Annual_Medals  Golds  Silvers  Bronzes
Year
1896                  151     64       47       40
1900                  512    178      192      142
1904                  470    188      159      123
1908                  804    311      282      211
1912                 1770    602      600      568
1920                 1298    497      446      355
1924                 1002    339      337      326
1928                  799    259      267      273
1932                  731    246      250      235
1936                  983    335      331      317
1948                  954    322      318      314
1952                 1025    345      334      346
1956                 1035    349      339      347
1960                 1029    345      334      350
1964                 1195    390      404      401
1968                 1230    407      409      414
1972                 1385    457      450      478
1976                 1515    499      499      517
1980                 1605    532      529      544
1984                 1681    557      550      574
1988                 1810    594      593      623
1992                 2030    666      661      703
1994                  343    114      115      114
1996                 1859    615      610      634
1998                  447    149      147      151
2000                 2015    663      667      685
2002                  481    163      157      161
2004                 1998    659      660      679
2006                  531    176      178      177
2008                 2042    669      663      710
2010                  529    176      177      176
2012                 1945    634      631      680
2014                  612    206      202      204

In [28]:
#count win percentage of total medals by year and country and merge into medals table
win_percentage = total_annual_medals.drop(['Golds',
                        'Silvers',
                        'Bronzes'], axis=1)
win_percentage.rename(columns={'Total_Annual_Medals': 'Win_Percentage'}, inplace=True)

medals = pd.merge(medals, win_percentage,  how='left', left_on=['Year'], right_on = ['Year'])
medals['Win_Percentage'] = medals['Total_Medals'] / medals['Win_Percentage'] * 100
medals.head()

   NOC  Year  Total_Medals  Golds  Silvers  Bronzes  Win_Percentage
0  AUS  1896             2      2        0        0        1.324503
1  AUT  1896             5      2        1        2        3.311258
2  DEN  1896             6      1        2        3        3.973510
3  FRA  1896            11      5        4        2        7.284768
4  GBR  1896             7      2        3        2        4.635762

# Olympic Sports and Medals (ETL): Load

In [14]:
#creating SQL connection
conn = sqlite3.connect('../Data/olympics.db')
c = conn.cursor()

#function to close connection
def close_c_conn():
    c.close()
    conn.close()

In [15]:
#create medals table in SQL
medals.to_sql('medals', conn, if_exists='replace')

#check SQL medals table
medals = pd.read_sql_query("SELECT * FROM medals;", conn)
print(medals.shape)
medals.head()

(1323, 8)

   index  NOC  Year  Total_Medals  Golds  Silvers  Bronzes  Win_Percentage
0      0  AUS  1896             2      2        0        0        1.324503
1      1  AUT  1896             5      2        1        2        3.311258
2      2  DEN  1896             6      1        2        3        3.973510
3      3  FRA  1896            11      5        4        2        7.284768
4      4  GBR  1896             7      2        3        2        4.635762

In [16]:
#close connection
close_c_conn()